{% extends "base.html" %} {% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
            <!--la tarjeta card -->
        <div class="card">
            <!--tarjeta-->
            <div class="card-body">
                <form action="/editarClientes/" method="POST">
                {% csrf_token %}
                <!--formulario-->
                    <div class="from-group py-3">
                        <input type="number"  id="txtid_clientes"  name="txtid_clientes" class="form-control"  value="{{misClientes.id_clientes}}"  readonly required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtnombre"  name="txtnombre" class="form-control"  value="{{misClientes.nombre}}" minlength="1"  maxlength="40"  required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="number"  id="txtedad"  name="txtedad" class="form-control"  value="{{misClientes.edad}}"  required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtcorreo_electronico"  name="txtcorreo_electronico" class="form-control"  value="{{misClientes.correo_electronico}}" minlength="1"  maxlength="40"  required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="number"  id="txttelefono"  name="txttelefono" class="form-control"  value="{{misClientes.telefono}}" minlength="1"  maxlength="20"  required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtdireccion"  name="txtdireccion" class="form-control"  value="{{misClientes.direccion}}" minlength="1"  maxlength="40" required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtforma_pago"  name="txtforma_pago" class="form-control"  value="{{misClientes.forma_pago}}" minlength="1"  maxlength="40"  required/>
                    </div>
                    <div class="from-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    <!--fin de la tarjeta card -->
    </div>
<!--columna-->
</div>
<!--la fila-->
{% endblock %}
