{% extends "base.html" %} {% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
            <!--la tarjeta card -->
        <div class="card">
            <!--tarjeta-->
            <div class="card-body">
                <form action="/editarProveedores/" method="POST">
                {% csrf_token %}
                <!--formulario-->
                    <div class="from-group py-3">
                        <input type="number"  id="txtid_proveedor" name="txtid_proveedor"  class="form-control"  value="{{misProveedores.id_proveedor}}"  minlength="1"  maxlength="11" readonly required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtnombre" name="txtnombre"  class="form-control"  value="{{misProveedores.nombre}}"  minlength="1"  maxlength="40" required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtdireccion" name="txtdireccion"  class="form-control"  value="{{misProveedores.direccion}}"  minlength="1"  maxlength="40" required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="number"  id="txttelefono" name="txttelefono"  class="form-control"  value="{{misProveedores.telefono}}"  required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtcorreo_electronico" name="txtcorreo_electronico"  class="form-control"  value="{{misProveedores.correo_electronico}}"  minlength="1"  maxlength="40"  required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txtvehiculo" name="txtvehiculo"  class="form-control"  value="{{misProveedores.vehiculo}}"  minlength="1"  maxlength="20"   required/>
                    </div>
                    <div class="from-group py-2">
                        <input type="text"  id="txthorario" name="txthorario"  class="form-control"  value="{{misProveedores.horario}}" minlength="1"  maxlength="30" required/>
                    </div>
                    <div class="from-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    <!--fin de la tarjeta card -->
    </div>
<!--columna-->
</div>
<!--la fila-->
{% endblock %}
